<h2>Course Info</h2>
<hr />
<form #courseForm="ngForm">
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="course.name"
        name="name"
        #courseName="ngModel"
        required
        [ngClass]="{ 'is-invalid': courseName.invalid }"
        class="form-control"
      />
      <div class="invalid-feedback">
        <span>course name is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Price:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="course.price"
        name="price"
        #coursePrice="ngModel"
        required
        type="number"
        [ngClass]="{ 'is-invalid': coursePrice.invalid }"
        class="form-control"
      />
      <div class="invalid-feedback">
        <span>course price is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Rating:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="course.rating"
        name="rating"
        #courseRating="ngModel"
        required
        type="number"
        [ngClass]="{ 'is-invalid': courseRating.invalid }"
        class="form-control"
      />
      <div class="invalid-feedback">
        <span>course price is required</span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <textarea
        [(ngModel)]="course.description"
        name="description"
        #courseDescription="ngModel"
        required
        [ngClass]="{ 'is-invalid': courseDescription.invalid }"
        class="form-control"
      >
      </textarea>
      <div class="invalid-feedback">
        <span>course price is required</span>
      </div>
    </div>
  </div>
  <button
    class="me-5 btn btn-primary"
    (click)="save()"
    [disabled]="courseForm.invalid"
  >
    Save
  </button>
  <button class="btn btn-secondary" [routerLink]="['/courses']">Back</button>
</form>
